/**************************************  Especes **************************************/

#prixespece {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    font-size: 125%;

}

#ProduitsEspeces {
    margin: 5%;
    background-color: #edf4fc;
    color: black;
}

#inputEspeces {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

#buttonPayer {
    width: 50%;
    background-color: #edf4fc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5%;
    border: 1px solid black;
}

/**************************************  CB **************************************/
.component_title2 {
    margin: 5%;
    font-size: 200%;
}

.chargement {

    border-right: 10px solid #b9b9b9;
    border-left: 10px solid #b9b9b9;
    border-top: 10px solid #b9b9b9;
    border-radius: 50%;
    border-bottom: 10px solid #edf4fc;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#prixCB {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    font-size: 200%;
}

#waitingCB {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    font-size: 150%;
}

#carteEnergie {
    background-size: cover;
    background-color: white;
    border: none;
    width: 95%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#Produits {
    padding: 1%;
    margin: 3%;
    background-color: #edf4fc;
    color: black;
}

#PayerEspeces {
    background-color: #edf4fc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5%;
    border: 1px solid black;
}