#header {
    width: 100vw;
    height: 15vh;
    /* background-color: brown; */
    overflow: hidden;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#header .container>div {
    height: 100%;
}

#header .container .logo {
    width: 10vw;
    /* background-color: blue; */
}

#header .container .buttons-user {
    width: 15.7vw;
    margin-left: 10px;
    /* background-color: aquamarine; */
}

.buttons .dashboardImages{
    width: 14% !important;
    height: 10% !important;
}

#header .container .buttons-user .buttons {
    display: flex;
    margin-top: 10px;
}

#header .container .buttons-user img {
    width: 5vh;
    padding: 10px;
    margin-right: 10px;
}

.user #tomdelacote{
    margin-top: 10px;
    display: flex;
}

#user_mail{
    color: black;
    margin-top: 10px;
    font-size: 15px;
}

.user .Divflex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


#user_name{
    color: black;
    font-size: 20px;
    margin-top: -8%;
    font-weight: bolder;
}

#header .container .buttons-user .user {
    display: flex;
    align-items: center;
}


#header .container .cards {
    width: 12vw;
    /*background-color: yellow;*/
    margin-right: 10px;
}

#header .container .pompes {
    width: 60vw;
}

#header .container .exit {
    width: 8vw;
    /* background-color: pink !important; */
}

#header .container .cards .cartes-membres-energies {
    margin-top: 10px;
    border-radius: 20px;
    height: 14.1vh;
    background-color: #2b2d42;
}

/*
.container .cards>div {
    padding: 1vh;
} */


.dashboardImages {
    background-color: #2B2D42;
    border-radius: 20px;
    width: 7%;
}

#exit {
    height: 75%;
    width: 50%;
    padding: 10%;
}

.cartes-membres-energies h2 {
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 1px solid white;
}


.cartes-membres-energies #membre {
    background-image: url(../assets/img/bgcartemembre.png);
    background-size: 40%;
    background-repeat: no-repeat;
    margin-top: 5px;

    background-position: center;
}

.cartes-membres-energies #energie {
    background-image: url(../assets/img/bgcarteenergie.png);
    background-size: 60%;
    background-repeat: no-repeat;
    margin-top: 5px;
    background-position: center;
}

/* a revoir en mettant position relative pour la rotation */
/* .cartes-membres-energies .membres::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/bgcartemembre.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(45deg);
} */

.cartes-membres-energies {
    height: 14vh;
    gap: 1vh;
}

.cartes-membres-energies #membre,
.cartes-membres-energies #energie {
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 33%;
    font-size: 14px;
    border-radius: 4px;
    color: black;
    background-color: #c3f3fb;

}


.pompes-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14.1vh;
    margin-top: 10px;
    padding: 0 0.5vw;
    border-radius: 12px;
    background-color: #2b2d42 !important;
    overflow: auto;
}

.pompes:first-child {
    margin-left: 200px !important;
}

.cartes-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 3.3em;
}

/* Hide default HTML checkbox */
.switch .chk {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider_Button {
    margin-left: 20px;
    margin-top: -15%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 0, 0);
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: .5em;
    width: 2.4em;
    border-radius: 5px;
    left: -0.6em;
    top: 0.2em;
    background-color: rgb(68, 66, 66);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    transition: .4s;
}

.slider:before, .slider:after {
    content: "";
    display: block;
}

.slider:after {
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
    repeating-linear-gradient(90deg,rgb(78, 78, 78) 0,rgb(141, 135, 135),rgb(97, 96, 96) 20%,rgb(97, 95, 95) 20%,rgb(99, 99, 99) 40%) 0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%,rgb(95, 94, 94) 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #464646;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%) rotate(90deg);
    transform-origin: 25% 50%;
    position: relative;
    top: 0.5em;
    left: 0.55em;
    width: 2em;
    height: 1em;
    box-sizing: border-box;
}

.chk:checked + .slider {
    background-color: limegreen;
}

.chk:focus + .slider {
    box-shadow: 0 0 1px limegreen;
}

.chk:checked + .slider:before {
    transform: translateY(2.3em);
}

.chk:checked + .slider:after {
    transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}
