#header {
    width: 100vw;
    height: 15vh;
    /* background-color: brown; */
    overflow: hidden;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#header .container>div {
    height: 100%;
}

#header .container .logo {
    width: 10vw;
    /* background-color: blue; */
}

#header .container .buttons-user {
    width: 15.7vw;
    margin-left: 10px;
    /* background-color: aquamarine; */
}

.buttons .dashboardImages{
    width: 14% !important;
    height: 10% !important;
}

#header .container .buttons-user .buttons {
    display: flex;
    margin-top: 10px;
}

#header .container .buttons-user img {
    width: 5vh;
    padding: 10px;
    margin-right: 10px;
}

.user #tomdelacote{
    margin-top: 10px;
}

#header .container .buttons-user .user {
    display: flex;
}


#header .container .cards {
    width: 12vw;
    /*background-color: yellow;*/
    margin-right: 10px;
}

#header .container .pompes {
    width: 60vw;
}

#header .container .exit {
    width: 8vw;
    /* background-color: pink !important; */
}

#header .container .cards .cartes-membres-energies {
    margin-top: 10px;
    border-radius: 20px;
    height: 14.1vh;
    background-color: #2b2d42;
}

/*
.container .cards>div {
    padding: 1vh;
} */


.dashboardImages {
    background-color: #2B2D42;
    border-radius: 20px;
    width: 7%;
}

#exit {
    height: 75%;
    width: 50%;
    padding: 10%;
}

.cartes-membres-energies h2 {
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 1px solid white;
}


.cartes-membres-energies #membre {
    background-image: url(../assets/img/bgcartemembre.png);
    background-size: 40%;
    background-repeat: no-repeat;
    margin-top: 5px;

    background-position: center;
}

.cartes-membres-energies #energie {
    background-image: url(../assets/img/bgcarteenergie.png);
    background-size: 60%;
    background-repeat: no-repeat;
    margin-top: 5px;
    background-position: center;
}

/* a revoir en mettant position relative pour la rotation */
/* .cartes-membres-energies .membres::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/bgcartemembre.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(45deg);
} */

.cartes-membres-energies {
    height: 14vh;
    gap: 1vh;
}

.cartes-membres-energies #membre,
.cartes-membres-energies #energie {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    font-size: 14px;
    border-radius: 4px;
    color: black;
    background-color: white;

}


.pompes-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14.1vh;
    margin-top: 10px;
    padding: 0 0.5vw;
    border-radius: 12px;
    background-color: #2b2d42 !important;
    overflow: auto;
}

.pompes:first-child {
    margin-left: 200px !important;
}