#header {
    width: 100vw;
    height: 15vh;
    background-color: brown;
    overflow: hidden;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#header .container>div {
    height: 100%;
}

#header .container .logo {
    width: 10vw;
    background-color: blue;
}

#header .container .buttons-user {
    width: 18vw;
    background-color: aquamarine;
}

#header .container .buttons-user .buttons {
    margin: 1vh 2vw 2vh 2vw;
    display: flex;
    gap: 10%;
}

#header .container .buttons-user img {
    width: 15%;
    padding: 10px;
}

#header .container .buttons-user .user {
    display: flex;
    align-items: center;
    justify-content: center;
}


#header .container .cards {
    width: 12vw;
    background-color: yellow;
}

#header .container .pompes {
    width: 50vw;
    background-color: green;
}

#header .container .exit {
    width: 10vw;
    background-color: pink !important;
}

#header .container .cards .cartes-membres-energies {
    margin: 3%;
    border-radius: 20px;
    background-color: #2b2d42;
}

.container .cards>div {
    padding: 1vh;
}