.smallIcons{
    display: flex;
    gap: 11px;
    width: 100%;
    height: 10%;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1%;
}
.component_title{
    align-self: center;
}

.smallIcon{
    background: #2B2D42;
    font-size: 350%;
    height: 100%;
    width: 10%;
    border-radius: 20px;
    background-size: cover;
    align-self: center;
    align-content: center;
    align-items: center;
}

#cuvesGrand{
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#cuvesGrand .cuve-container{
    background: #777CA6;
    border-radius: 20px;
    width: 6%;
    padding: 2%;
    height: 90%;
}

#cuvesGrand .cuve-container h2{
    font-size: 20px;
}

#cuvesGrand .progress-bar{
    border-radius: 20px;
}



.composantGrand{
    background: #2B2D42;
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 73.8vh;
}

.component_title{
    font-size: 2rem;
}

#buttonUpdate{
    background: #cef4fb;
    justify-content: end;
    color:black;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 20px;
    padding: 3px;
}

#topComposant{
    display: flex;
    margin-left: 1vw;
    width: 50%;
}

#topComposant2{
    width: 50%;
    display: flex;
    justify-content: end;
}

#topComposant2>h4{
    align-self: flex-end;

}

.Divflex{
    display: flex;
}

.DivBlock{
    display: block;
}

#cuvesButtons{
    width: 35%;
    height: 99%;
}

#cuvesButtons button{
    margin: 10px;
    width: 90%;
    height: 46.2%;
    text-align: center;
    font-size: 26px;
}

#cuvesPrix{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

#cuvesPrix h3{
    font-size: 4vh;
    margin-bottom: 2vh;
}

#cuvesPrix #divPrix{
    width: 50%;
    height: 100%;
    justify-content: left;
}

#divPrix label {
    margin-top: 10px;
    display: block;
    font-size: 3vh;
}

#divPrix input {
    padding: 2vh;
    font-size: 1rem;
    margin-bottom: 5vh;
    align-self: center;
    align-content: center;
}

#divPrix .Divflex{
    gap: 2%;
}

/* .DivBlock button{
    margin: 5%;
    width: 90%;
    height: 45%;
    text-align: center;
    font-size: 26px;
} */

#cuvesGrands{
    height: 73.8vh;
    width: 56.8vw;
    border-radius: 20px;
}

#cuvesGrands .Divflex{
    height: 10%;
    width: 100%;
}

#cuvesGrand .cuve-container .jauge{
    height: 91%;
    width: 95%;
    border-radius: 20px !important;
}

#cuvesButtons #thefirst{
    margin-top: 1vw !important;
}