@font-face {
    font-family: Didot;
    src: url("../assets/font/GFSDidot-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

a:hover,
button:hover {
    cursor: pointer;
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #f6f8ff;
    color: white;
    font-family: Didot !important;
}

#logo {
    width: 17vh;
    height: 14.1vh;
    padding: 0;
    margin: 10px;
    border-radius: 20px;
}

#profilePic {
    clip-path: ellipse()
}

/*
Vue choix paiement
*/
#choixpaiement {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 37.5%;
    margin-top: 2%;
    margin-top: 14px;
}

.choixPaiement {
    width: 100%;
    height: 100%;
}

.paymentChoice {
    padding: 10px 5px;
    margin-bottom: 12px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paymentChoice button {
    background-size: cover;
    background-color: #c3f3fb;
    border: none;
    width: 47%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    overflow: clip;
}

#carteEnergie .carte_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    line-height: 1.5;
    z-index: 1;
}

#emoji_energie {
    width: 120%;
    margin-left: 2%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#emoji_cash {
    width: 90%;
}

#cb .carte_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    /* Text color */
    font-size: 45px;
    /* Adjust font size as needed */
    font-weight: 900;
    /* Adjust font weight as needed */
    text-align: center;
    /* Center the text horizontally */
    line-height: 1.5;
    /* Adjust line height as needed */
    z-index: 1;
    /* Ensure text is above the background image */
}

#emoji_cb {
    width: 85%;
    /* Adjust width as needed */
    transform: rotate(30deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* Ensure image is below the text */
}

#esp .carte_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    /* Text color */
    font-size: 35px;
    /* Adjust font size as needed */
    font-weight: 900;
    /* Adjust font weight as needed */
    text-align: center;
    /* Center the text horizontally */
    line-height: 1.5;
    /* Adjust line height as needed */
    z-index: 1;
    /* Ensure text is above the background image */
}

#emoji_cash {
    width: 90%;
    /* Adjust width as needed */
    transform: rotate(30deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* Ensure image is below the text */
}


/*
fin choix paiement
*/


/* 
panier
*/

.panier {
    background-color: #18332F;
    height: 100%;
}

.panier-conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-left {
    background-color: #73907D;
    margin-left: 5%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 8px;
}

.shopping-cart-left .article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 15vh;
}

.shopping-cart-left .article .article-img img {
    width: 60%;
    height: auto;
    display: block;
}

.panier .shopping-cart-left .article-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B8C6BD;
    padding: 0;
    border: 1px solid black;
    color: white;
    margin-left: auto;
}

.panier .shopping-cart-left .article-quantity .qteBtn {
    width: 4vw;
    height: 4vh;
    background-color: #B8C6BD;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.panier .shopping-cart-left .article-quantity p {
    font-size: 20px;
    width: 3vw;
}

.shopping-cart-right {
    width: 25%;
    margin-right: 5%;
    margin-left: 10%;
}

.shopping-cart-right p {
    font-size: 25px;
}


.shopping-cart-right button {
    font-size: 25px;
    color: white;
    margin: 10%;
    margin-top: 0 !important;
    background-color: #73907D;
    width: 80%;
    padding: 6vh;
    border: 1px solid black;
    border-radius: 12px;
}

.shopping-cart-right .proceed-payment button:nth-child(2) {
    font-size: 35px !important
}


.clavier-numerique-panier td {
    width: 20%;
    height: 10vh;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    background-color: #73907D;
    border-radius: 5%;
    padding: 2%;
}



/* dashboard */

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard-button {
    width: 400px;
    height: 220px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: white !important;
    }
}

/* couleurs btn gérées en JS pour le moment */

/* .dashboard-button:nth-child(1) {
    background-color: #FEE4CB;
}
*/

.dashboard-left,
.dashboard-right {
    /* 100vh - 19vh car 15 header et 2+2 margin */
    height: 83vh;
    margin: 1vh 0;
    width: 42%;
}

.dashboard-left {
    background-color: #2b2d42;
    margin-right: 0.5%;
    margin-left: 0.5%;
    border-radius: 20px;
}

.dashboard-right {
    width: 56% !important;
    display: flex;
    margin-right: 0.5vw;
}

.dashboard-right .etat-transac {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    /* background-color: pink; */
}


.container.right-to-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-right .incidents-services {
    display: flex;
    height: 25%;
    /* background-color: orange; */
    width: 101%;
    margin-left: 10px;
}

.dashboard-right .incidents-services section {
    width: 100% !important;
}

.dashboard-right .stock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37.5%;
    /* background-color: #7883ff; */
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.dashboard-right .horaires-releve-direction {
    display: flex;
    height: 37.5%;
    /* background-color: #ff0000; */
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.dashboard-right .releve-direction {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    width: 50%;
    /* background-color: purple; */
}

.dashboard-right .releve-direction section {
    width: 40%;
}

.dashboard-right .services-employe {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    width: 50%;
}

.dashboard-right .services-employe section {
    width: 100%;
}



.membre {
    font-size: 20px;
}


/*
cuves
*/

#etat-cuves {
    border-radius: 20px;
    background-color: #2b2d42;
    width: 100%;
    height: 24.2%;
}

.etat-cuves-container {
    display: flex;
    align-items: center;
    width : 100%;
    height: 85%;
    justify-content: space-around;
}

.cuve-container {
    padding: 3%;
    background-color: #777ca6;
    height: 85%;
    width: 7%;
    border-radius: 5px;
}

#etat-cuves .component-title{
    font-size: 20px;
}

#etat-cuves .top_container{
    height: 15%;
}

.etat-cuves-container .cuve-container:first-child{
    border-radius: 5px 5px 5px 20px !important;
}

.etat-cuves-container .cuve-container:last-child{
    border-radius: 5px 5px 20px 0px !important;
}

.cuve-container h2,
p {
    font-size: 6px;
}

.jauge {
    background-color: #f0f0f0;
    height: 80%;
    width: 80%;
    margin-top: 10px;
    padding: 2px 2px !important;
    position: relative;
    border-radius: 2px;
}

.jauge>div {
    margin-bottom: 2px;
    animation: fill 2s ease;
}

.progress-bar {
    /*calc sur le padding de la jauge*/
    width: calc(100% - 4px);
    background-color: rgb(56, 141, 56);
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}


/* statut pompe */

.statut-pompe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
    margin: 0.5vh;
    height: 8vh;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.dispo-qte-prix {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-pompe {
    display: flex;
    align-items: center;
}

.numero {
    font-size: 20px;
    margin-right: 20px;

}

.pompe-image {
    width: 20px;
    height: 20px;
}

.carburant {
    margin-left: 2vw;
    font-size: 20px;
}

.disponibilite {
    display: flex;
    align-items: center;
}

.rond {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2vh;
    margin-right: 2vw;
}

.vert {
    background-color: #23d423;
}

.rouge {
    background-color: #ff0400;
}

.quantite-prix {
    border-radius: 8px;
    padding: 0 2.5vw;
    background-color: #2b2d42;
}

.quantite-prix p {
    color: white;
    text-align: right;
    font-size: 12px;
}

.quantite {
    margin-bottom: 0;
}

/* Service */

#services {
    height: 100%;
    border-radius: 20px;
    background-color: #2B2D42;
}

/* #icon_container {
    width: 12%;
    padding: 5px 15px;
} */

.top_container {
    border-radius: 20px 20px 0px 0px;
    background: #2B2D42;
    display: flex;
    padding-left: 5%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.top_container img {
    margin-left: auto;
    margin-right: 8px;
    margin-top: 2px;
    height: 20px;
    width: 20px;
}


.services-container {
    height: 100%;
}

.button_container {
    padding: 10px 5px;
    margin-bottom: 12px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button_container button {
    background-size: cover;
    background-color: #c3f3fb;
    border: none;
    width: 45%;
    height: 35%;
    border-radius: 8px;
    position: relative;
    overflow: clip;
}


#image_parking {
    width: 80%;
    margin-top: -15%;
}

#image_covoiturage {
    width: 69%;
    margin-top: -12%;
    margin-right: 1%;
}

#image_livraison {
    width: 80%;
    margin-top: -18%;
}

#text_autre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

#text_livraison{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

#text_voiture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

#text_parking{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

#image_autres {
    width: 100%;
    margin-top: -30%;
    z-index: 0;
}

/*transaction*/

#transaction {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 35%;
    margin-top: 14px;
}

.last-transaction p {
    margin-left: 2%;
    font-size: 12px;
    color: white;
    text-align: left !important;
}

.last-transaction {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.transaction-details {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin: 4px;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
    height: 92%;
    scrollbar-width: none;
}

.transaction-details table {
    border-collapse: collapse;
}

/* .component-title { */
/* border-bottom: 1px solid white; */
/* } */

.transaction-details thead {
    border-bottom: 1px solid grey;
}

.transaction-details>table>thead>tr>th {
    font-size: 10px;
    color: grey;
}

.transaction-details th {
    padding: 5px;
}

.transaction-details td {
    padding: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.transaction-details>table>thead>tr>:nth-child(1) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(2) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(3) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(4) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(5) {
    width: 20%;
}

.transaction-details>table>tbody>tr>td:nth-child(1) {
    width: 20%;
    font-weight: bold;
}

.transaction-details>table>tbody>tr>td {
    font-size: 10px;
    width: 25%;
}

.statut-transac {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.red {
    background-color: #ff0400;
}

.green {
    background-color: #23d423;
}

.payment-type {
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.cb-payment {
    padding: 1px 9px;
    background-color: #003399;
}

.esp-payment {
    padding: 1px 6px;
    background-color: #086608;
}

.hour-transac {
    border-radius: 4px;
    padding: 1px 5px;
    background-color: #cdcdcd;
}

.hour-transac {
    display: flex;
}

#lhorloge {
    margin-top: 1.5px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
}

.fleche-container {
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

.fleche {
    width: 8px;
    height: 8px;
    position: relative;
    padding: 5px;
    background-color: #2B2D42;
    margin-right: 3px;
    border-radius: 3px;
}

.fleche::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/fleche.png');
    background-size: cover;
    transform: rotate(-135deg);
}

.loss .fleche::before {
    transform: rotate(-45deg);
}


.prix-transac {
    font-weight: bold;
}

.input-select-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.transaction-container .last-transaction input,
select {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
}

.transaction-container{
    height: 80%;

}


/*Horaires*/
#horaires {
    margin-left: 1%;
    width: 50%;
    height: 100%;
    background-color: #2b2d42;
    border-radius: 12px;
    margin-bottom: 20px;
}

#horaires h2 {
    text-align: left;
}

.horaires-container {
    height: 100%;
}

.horaires-content {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    overflow-x: auto;
}

.horaires-content p {
    font-size: 15px;
    text-align: left;
    margin: 4px 4px 4px 8px;
}

.of {
    opacity: 80%;
    color: #080707;
}

.horaire-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #2b2d42;
    border-radius: 12px 12px 0 0;
    padding-left: 3%;
}

.horaire-header h2 {
    text-align: left;
    margin: 0;
}

.horaire-header h6 {
    text-align: left;
    opacity: 80%;
    padding-bottom: 2%;
    margin: 0;

}

#icon_container_clock {
    width: 9%;
    height: 9%;
    padding: 5px 15px;
}


/* stocks */

#stocks {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #2b2d42;
    border-radius: 20px;
}

.stocks-container {
    margin-top: 10px;
    color: black;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.stock {
    border-radius: 8px;
    background-color: white;
    margin: 0 30px 0 10px;
    padding: 8px;

}



/* incidents */

#incidents {
    margin: 0 10px;
    height: 100%;
    background-color: #2b2d42;
    border-radius: 20px;
}

.incidents-container {
    color: black;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    overflow: auto;
}

.incident {
    width: 30%;
    border-radius: 8px;
    height: 80%;
    margin-right: 10px;
    background-color: white;
}

.incident p {
    font-size: 12px;
}

.incident-desc {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*releves, direction*/

#releve,
#direction {
    width: 100%;
    height: 50%;
    background-color: #2b2d42;
    border-radius: 20px;
}

.releve-container {
    color: white;
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    overflow: auto;
}

.releve {
    width: 95%;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: white;
}


.button-container button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ebebeb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.left-container-incident {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-container {
    width: 50%;
}


.left-container-incident>div {
    text-align: center;
    margin-bottom: 20px;
}

.left-container-incident .confirm-button,
.left-container-incident .delete-button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ebebeb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-container-incident .confirm-button:hover,
.left-container-incident .delete-button:hover {
    background-color: #c0c0c0;
    /* Change la couleur au survol */
}



/* Caisse */

#caisse {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.caisse-details {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin: 8px;
    color: black;
    overflow-y: auto;
    height: 100%;
    margin: 3%;
}

.caisse-container {
    height: 40%;
}

.caisse-details table {
    width: 100%;
    height: 40%;
    border-collapse: collapse;
}

.caisse-details thead {
    border-bottom: 1px solid grey;
}

.caisse-details>table>thead>tr>th {
    font-size: 20px;
    color: grey;
}

.caisse-details th {
    padding: 5px;
}

.caisse-details td {
    padding: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.caisse-details>table>thead>tr>:nth-child(1) {
    width: 40%;
}

.caisse-details>table>thead>tr>th:nth-child(2) {
    width: 20%;
}

.caisse-details>table>thead>tr>th:nth-child(3) {
    width: 20%;
}

.caisse-details>table>thead>tr>th:nth-child(4) {
    width: 10%;
}

.caisse-details>table>thead>tr>th:nth-child(5) {
    width: 10%;
}

.caisse-details>table>tbody>tr>td:nth-child(1) {
    width: 10%;
    font-weight: bold;
}

.caisse-details>table>tbody>tr>td {
    font-size: 18px;
    width: 25%;
}

.caisse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caisse-details {
    margin-bottom: 20px;
}


th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.search-bar>button {
    gap: 10px;
    border: 1px solid #ccc;
    padding: 1%;
    margin-left: 5%;
    border-radius: 8px;
    width: 20%;
}

.numeric-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.input-display {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.numeric-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
}

.numeric-buttons button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1700px) {
    .numeric-buttons button {
        padding: 6px !important;
    }
}

@media screen and (max-width: 1400px) {
    .numeric-buttons button {
        padding: 4px !important;
    }
}

.numeric-buttons>button:nth-child(3) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(7) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(11) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(15) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(19) {
    grid-column-end: span 2;
}

.separator {
    border: 1px solid #ccc;
}

.total {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    text-align: right;
}

.total p {
    color: black;
    font-size: 18px;
    margin: 0;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}


/* Connexion */

.connection {
    color: black
}

.connection-bar input {
    align-items: center;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 20%;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.numericButtonsConnection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    justify-content: center;
    margin: 0 auto;
}


.disappear-animation {
    animation: disappear 0.5s ease-out forwards;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


/* Incident en grand */

.right-container {
    right: 0;
    width: 50%;
    box-sizing: border-box;
}

.right-container h3 {
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 150%;
}


.right-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    align-self: center;
}

.right-container form div {
    margin-bottom: 5%;
    flex-direction: column;
    display: flex;
}

.right-container form select {
    align-self: center;
}

.right-container form label {
    margin-bottom: 5%;
    font-size: 150%;
    position: static;
}

.right-container form textarea {
    height: 160px;
    width: 60%;
    margin-bottom: 5%;
    resize: vertical;
    align-self: center;
}

.right-container form button {
    width: 50%;
    align-self: center;
    font-size: 150%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #edf4fc;
    color: #080707;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.right-container form label.texte-description {
    align-self: flex-start;
    margin-bottom: 5px;
    align-self: center;
}


#Prix,
#Produit,
#Quantites {
    font-size: 150%;
    text-align: left;
}

#Prix {
    text-align: right;
    font-size: 150%;
}

.container-composantGrandIncident {
    background-color: #2B2D42;
    border-radius: 20px;
    width: 100%;
    height: 73.8vh;
}

.container-composantGrandIncident h2 {
    text-align: left;
    margin-left: 5%;
}

.composantGrandIncident {
    display: flex;
    flex-direction: row;
}

.left-container,
.right-container {
    flex: 1;
    padding: 10px;
    margin: 5px;
    max-height: 150%;
}


.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-container h3 {
    font-size: 170%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.incident-details {
    background-color: #f0f0f0;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

ul {
    align-self: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

ul li {
    background-color: #f9f9f9;
    color: #000;
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 5px;
    border-color: #000;
}


.right-container {
    margin-left: 5px;
    border-left: 5px solid #ccc;
}

.separatorColumn {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 10px 0;
}

.left-container-incident {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-container {
    width: 50%;
    display: ruby;
}


.left-container-incident>div {
    text-align: center;
    margin-bottom: 20px;
}

.left-container-incident .confirm-button,
.left-container-incident .delete-button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ebebeb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-container-incident .confirm-button:hover,
.left-container-incident .delete-button:hover {
    background-color: #c0c0c0;
    /* Change la couleur au survol */
}


/* -------------------------------- Services en grand --------------------------------  */

/* .serviceParkingButton {
    background: url("../assets/img/parking.png") ;
        
} */

#parkingButton {
    background: url("../assets/img/image-210.png") ; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
      
}

#covoiturageButton{
    background: url("../assets/img/image-220.png") ; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 

}

#livraisonButton{
    background: url("../assets/img/image-230.png") ; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
}

#autresButton{
    background: url("../assets/img/image-240.png") ; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
}

.button_container_grand_services button {
    background-size: cover;
    background-color: white;
    border: none;
    width: 45%;
    height: 45%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 35px; 
    font-weight: bold;
}

.button_container_grand_services {

    padding: 10px 5px;
    margin: 30px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Direction grand */

.componantDirectionGrand h2 {
    text-align: left;
    margin-left: 5%;
    font-size: 2rem;
}

.direction-details {
    margin-top: 4%;
}

.composantGrand h3 {
    margin-bottom: 3%;
    font-size: 180%;
}

.composantGrand ul li h3 {
    font-size: 120%;
}

.direction-details ul {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%;
}


.direction-details ul {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%;
}


/**********************************  Places de parking **********************************/

.composantPlaceP {
    background: #2B2D42;
    border-radius: 20px;
    width: 100%;
    height: 98%;
}

.boutonsAnnulationReservation button {
    width: 40%;
    height: 10%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    background-color: #4d5b84;
    border: black;
    margin: 5px;
}

.bouttonsParking {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    /* resize: horizontal; */
    margin-top: 5%;
}

.bouttonsParking button {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    border: black;
    margin: 5px;
}

.titreComposantPP {
    margin: 1.5%;
    padding: 10px;
    font-size: 170%;
    display: flex;
    justify-content: left;
}

.place_parking {
    border: solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    background-color: #4d5b84;

    box-shadow: 5px 6px 5px #101e49;
}

.formulaireRecherchePlaceP {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_placesP {
    max-height: 75%;
    margin: 5px;
    overflow-y: auto;
    border-radius: 5px;
    /* background-color: #424661; */
}

.search {
    width: 60%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 24px;
}

.submitSearchParking {
    width: 10%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 24px;
}

.submitSearchParking {
    width: 6%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* Centrer verticalement */
    justify-content: center;
    /* Centrer horizontalement */
}

.searchIconImage {
    width: 16px;
    height: 16px;

}

.statut-placeP {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.infoPlaceP {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;

}

/************************************** Horaire Grand **************************************/

.composantGrand,
#modifHoraires {
    background: #2B2D42;
    display: block;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 83%;
}

.component_title {
    margin: 0;
}

.tableauHeure {
    margin: 20px;
}

.tableauHeure table {
    width: 100%;
    border-collapse: collapse;
}

.tableauHeure th,
.tableauHeure td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tableauHeure th {
    background-color: #f2f2f2;
}

.buttonAnnuler,
.buttonValider {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttonAnnuler {
    background-color: #f0f0f0;
    color: black;
}

.buttonValider {
    background-color: #f0f0f0;
    color: black;
}

.buttonAnnuler:hover,
.buttonValider:hover {
    opacity: 0.8;
}

.heures {
    border-radius: 12px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

/* Transaction */

.direction-details ul li {
    margin-bottom: 10px;
}

.ul-transaction li strong {
    text-align: left;
    align-self: baseline;
}

.separatorBlack {
    border: 1px solid #131313;
    margin: 10px 0;
}

.ul-transaction {
    list-style: none;
    padding: 0;
    width: 70%;
    max-height: 28%;
    /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
    /* Ajout de la barre de défilement si nécessaire */
}

.ul-transaction li {
    margin-bottom: 20px;
    text-align: left;
}

.confirm-button,
.delete-button,
.confirm-button-desactivate {
    margin: 5px;
    padding: 3px 8px;
    /* Réduire la taille des boutons */
    background-color: #ebebeb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 3px;
    /* Réduire le rayon du bord */
    cursor: pointer;
}

.confirm-button,
.delete-button {
    flex: 0 0 auto;
    /* Ne pas agrandir ou réduire les boutons */
}

.listClient {
    max-height: 425px;
    margin: 5px;
    overflow-y: auto;
    border-radius: 5px;
}


/*Carte membre / energie*/
.composantGrand #carte {
    background-color: #2B2D42;
    border-radius: 20px;
    width: 100%;
    height: 83%;
}

.ul-transaction li strong {
    text-align: left;
    align-self: baseline;
}

.separatorBlack {
    border: 1px solid #131313;
    margin: 10px 0;
}

.ul-transaction {
    list-style: none;
    padding: 0;
    width: 70%;
    max-height: 300px;
    /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
    /* Ajout de la barre de défilement si nécessaire */
}

.ul-transaction li {
    margin-bottom: 20px;
    text-align: left;
}

.separatorBlack {
    width: 100%;
    height: 1px;
    margin: 1px 0;
}

.ul-info-à-confirmer {
    background-color: rgb(233, 233, 233);
}


.transaction-list-container {
    background-color: #f0f0f0;
    padding: 20px;
}

.client {
    display: flex;
    border-radius: 8px;
    padding: 10px;
    background-color: #4d5b84;
    box-shadow: 5px 6px 5px #101e49;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.transaction-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.client {
    display: flex;
    border: solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    background-color: #4d5b84;
    box-shadow: 5px 6px 5px #101e49;
}

.listClient {
    max-height: 425px;
    margin: 5px;
    overflow-y: auto;
    border-radius: 5px;
}


.voirPlus {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.infoPoint {
    display: block;
    border: solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    background-color: #4d5b84;
    box-shadow: 5px 6px 5px #101e49;
}

.avantage {
    text-align: center;
    font-size: 16px;
}

/**********************************  Reservation d'une place de parking (ReservationPlaceP) **********************************/
.formulaire_reservation_placeP {
    display: flex;
    flex-direction: column; 
    margin: 10px;
    font-size: 150%; /* 150% */
}


#formReservationPP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutonsAnnulationReservation {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    /* resize: horizontal; */
    margin-top: 2%;
    height: 80%;
}



/****************************************** Stock ******************************************/

.btnStockGrandClickTop {
    width: 100%;
    padding: 10.5%;
    border: none;
    height: 100%;
    border-radius: 20px;
    margin: 2%;
    display: block;
    background-color: #f1f1f1;
    color: #111111;
    font-size: 200%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnStockGrandClickBottom {
    width: 46%;
    padding: 8.4%;
    border: none;
    height: 1%;
    border-radius: 20px;
    margin: 2%;
    display: block;
    background-color: #f1f1f1;
    color: #111111;
    font-size: 200%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Stock Produit*/

.StokProduitContainer {
    display: flex;
    flex-direction: column;
}

.ajouterProduitbouton {
    width: 15%;
    margin: 1%;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    margin-left: 82%;
    padding: 10px 20px;
    cursor: pointer;
}

.barreProduit {
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colonnes */
    gap: 20px;
    /* Espacement entre les images */
}

.imageItem {
    width: 100%;
    height: auto;
}

/* Stock Ajouter Produit */

.StockProduitAjouter {
    display: flex;
    margin: 1%;
    flex-direction: column;
    align-items: center;
}

.StockProduitAjouter h2 {
    font-size: 180%;
}

.StockProduitAjouter form {
    width: 80%;
}

.StockProduitAjouter div {
    display: flex;
    /* Make divs flex containers */
    align-items: center;
    /* Align items vertically */
    margin-bottom: 2%;
}

.StockProduitAjouter label {
    margin-right: 2%;
    min-width: 150px;
    font-size: 150%;
}

input[name="quantityProduit"] {
    width: 40%;
    border-radius: 20px;
    height: 40px;
    margin: 1%;
}

input[name="priceProduit"] {
    width: 40%;
    border-radius: 20px;
    height: 40px;
    margin: 1%;
}


.StockProduitAjouter textarea {
    width: 100%;
    border-radius: 20px;
    height: 140px;
    margin: 1%;
}

input[name="nameProduit"] {
    width: 100%;
    border-radius: 20px;
    height: 40px;
    margin: 1%;
}


.annulerProduitButton {
    width: 15%;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    margin-left: auto;
    /* Align to the right */
    padding: 10px 20px;
    cursor: pointer;
}

.custom-file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 15%;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-upload label {
    display: flex;
    padding: 3px 50px;
    background-color: #121646;
    color: rgb(223, 223, 223);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.custom-file-upload label:hover {
    background-color: #45a049;
}

/* EtatStockReapro */

.etat-stock h2 {
    font-size: 24px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.etat-stock {
    margin: 5%;
    min-height: 20%;
}

.etat-stock table {
    width: 100%;
    border-collapse: collapse;
    height: 10%;
    margin-bottom: 15px;
}

.etat-stock th, .etat-stock td {
    padding: 20px;
    text-align: center;
    border: 1px solid black; /* Ajout de la bordure noire */
}

.etat-stock th {
    background-color: #2B2D42;
    color: rgb(255, 255, 255);
}

.etat-stock td {
    border-bottom: 1px solid #000000;
    color: #000;
    background-color: #dbdada; /* Couleur de fond blanche pour toutes les lignes */
}

.etat-stock .produit {
    width: 40%;
}

.etat-stock .quantite, .etat-stock .prix, .etat-stock .action {
    width: 20%;
}

.etat-stock .action button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #EF233C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.etat-stock .action button:hover {
    background-color: #D90429;
}

.etat-stock .action button:active {
    transform: translateY(1px);
}

.table-scroll {
    overflow-y: auto;
    max-height: 10%; 
}

.buttonRéapprovisionnement {
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    margin: 5%;
    border: black;
    font-size: 150%;
    padding: 10px 20px;
    border-radius: 20px;
    padding: 2%;
    cursor: pointer;
    height: 30%;
    width: 50%;
}

/* Annuler Réaprovisionnement */

.container-AnnulerRéapro {
    margin: 5%;
}

.AnnulerRéapro {
    padding: 20px;
    padding-bottom: 30%;
    border-radius: 5px;
    margin: 2%;
    height: 80%;
}

.product-AnnulerRéapro {
    background-color: rgb(253, 253, 253);
    display: flex;
    border-radius: 20px;
    align-items: center;
    color: #000;
    font-size: 10%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 2%;
}

.product-info {
    flex-grow: 1;
    text-align: left; /* Aligner le texte à gauche */
}

.product-info p {
    font-size: 20px;
    padding-right: 50%;
    margin: 2%; /* Supprimer les marges pour éviter l'espacement supplémentaire */
}


.cancel-button-container {
    margin-right: 10%;
}

.cancel-button {
    border-radius: 20px;
    padding: 25%;
    border-color: #000;
    color: white;
    background-color: #393480;
    width: 180%;

}

.AnnulerRéapro::-webkit-scrollbar {
    width: 10px;
}


/****************************** Réservation d'un covoiturage ***********************************/

.formulaireRechercheCov {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statut-propositionCov {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10%;
}

.bouttonsCov {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    /* resize: horizontal; */
    margin-top: 5%;
}

.bouttonsCov button {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    border: black;
    margin: 5px;
}

.titreComposantCov {
    margin: 1.5%;
    padding: 10px;
    font-size: 170%;
    display: flex;
    justify-content: left;
}

.proposition_covoiturage {
    border: solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    background-color: #4d5b84;

    box-shadow: 5px 6px 5px #101e49;
}

.container_proposition_Cov {
    max-height: 65%;
    margin: 5px;
    overflow-y: auto;
    border-radius: 5px;
    /* background-color: #424661; */
}

.infoPropositionCov {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -10%;
    margin-bottom: 0%;
}

.submit-container button {
    margin-top: 0;
    width: 20%;
    height: 70%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    border: black;
    margin: 5px;
}

.backArrowServiceButton {
    background: url("../assets/img/en-arriere.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0);

}

.button_ajout_propositionCOV {
   
        border: solid #000;
        border-radius: 8px;
        padding: 10px;
        margin: 15px;
        background-color: #4d5b84;
        box-shadow: 5px 6px 5px #101e49;

}

.etatPropositionCov {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
}
.nomClientCov {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
}
/*$$$$$$$$$$$$$$$$$$$$$ Formulaire covoiturage $$$$$$$$$$$$$$$$$$$$$*/

.formulaire_enregistrer_covoiturage {
    display: flex;
    flex-direction: column; 
    margin: 10px;
    font-size: 150%; /* 150% */
}

.formulaireEntree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 2% 0;
}

.formulaireEntree label {
    width: 30%;
    text-align: left;
    margin-right: 20%;  
}

.formulaireEntree input {
    width: 60%;
    border-radius: 8px;
    height: 40px;
    align-items: right;    
}


.boutonsAnnulationConfirmationCOV {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    /* resize: horizontal; */
    margin-top: 2%;
    height: 80%;
}

.boutonsAnnulationConfirmationCOV button {
    width: 40%;
    height: 10%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    background-color: #4d5b84;
    border: black;
    margin: 5px;
}

.nomClientCov {
    display: flex; 
}

.formCOV { 
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

#centPourCent {
    height: 100%;
}
/****************************** Livraisons *************************************/

.livraison {
    border: solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    background-color: #4d5b84;

    box-shadow: 5px 6px 5px #101e49;
}

.container_livraison {
    max-height: 75%;
    margin: 5px;
    overflow-y: auto;
    border-radius: 5px;
    /* background-color: #424661; */
}

.infoLivraison {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
}

.infoClientLivraison {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
}

.statutLivraison {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
}

.statut-livraison {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10%;
}

.buttonsLivraison {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    /* resize: horizontal; */
    margin-top: 5%;
}

.buttonsLivraison button {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    border: black;
    margin: 5px;
}

.titreComposantLivraison {
    margin: 1.5%;
    padding: 10px;
    font-size: 170%;
    display: flex;
    justify-content: left;
}

/* Button */

.button_style {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
.button_style:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
.button_style:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
.button_style::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
.button_style:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
  