@font-face {
    font-family: Didot;
    src: url("../assets/font/GFSDidot-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #f6f8ff;
    color: white;
    font-family: Didot !important;
}

/*
Vue choix paiement
*/

.view-title {
    font-size: 60px;
}

#logo {
    width: 17vh;
    height: 14.5vh;
    padding: 0;
}

#profilePic {
    clip-path: ellipse()
}

.paymentChoice {
    margin-top: 12vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.choixPaiement {
    width: 100vw;
    height: 100vh;
}

.paymentChoice button {
    background-color: #9EF09E;
    font-family: Didot;
    border: none;
    font-size: 40px;
    cursor: pointer;
    width: 25%;
    height: 25vh;
    border-radius: 6px;
}

.paymentChoice #especeBtn {
    padding: 20px 10px;
    margin-right: 4%;
}

.paymentChoice #cbBtn {
    padding: 20px 10px;
    margin-left: 4%;
}

/*
fin choix paiement
*/


/* 
panier
*/

.panier {
    background-color: #18332F;
    height: 100vh;
}

.panier-conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-left {
    background-color: #73907D;
    margin-left: 5%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 8px;
}

.shopping-cart-left .article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 15vh;
}

.shopping-cart-left .article .article-img img {
    width: 60%;
    height: auto;
    display: block;
}

.panier .shopping-cart-left .article-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B8C6BD;
    padding: 0;
    border: 1px solid black;
    color: white;
    margin-left: auto;
}

.panier .shopping-cart-left .article-quantity .qteBtn {
    width: 4vw;
    height: 4vh;
    background-color: #B8C6BD;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.panier .shopping-cart-left .article-quantity p {
    font-size: 20px;
    width: 3vw;
}

.shopping-cart-right {
    width: 25%;
    margin-right: 5%;
    margin-left: 10%;
}

.shopping-cart-right p {
    font-size: 25px;
}


.shopping-cart-right button {
    font-size: 25px;
    color: white;
    margin: 10%;
    margin-top: 0 !important;
    background-color: #73907D;
    width: 80%;
    padding: 6vh;
    border: 1px solid black;
    border-radius: 12px;
}

.shopping-cart-right .proceed-payment button:nth-child(2) {
    font-size: 35px !important
}


.clavier-numerique-panier td {
    width: 20%;
    height: 10vh;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    background-color: #73907D;
    border-radius: 5%;
    padding: 2%;
}



/* dashboard */

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard-button {
    width: 400px;
    height: 220px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: white !important;
    }
}

/* couleurs btn gérées en JS pour le moment */

/* .dashboard-button:nth-child(1) {
    background-color: #FEE4CB;
}
*/

.dashboard-left,
.dashboard-right {
    /* 100vh - 19vh car 15 header et 2+2 margin */
    height: 81vh;
    margin: 2vh;
    width: 40%;
    background-color: #2b2d42;
}

.dashboard-right {
    background-color: rgb(213, 255, 213) !important;
    width: 55% !important;
    display: flex;
}

.dashboard-right .etat-transac {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: pink;
}


.container.right-to-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-right .incidents-services {
    display: flex;
    height: 25%;
    background-color: orange;
    width: 100%;
}

.dashboard-right .stock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37.5%;
    background-color: #7883ff;
    width: 100%;
}

.dashboard-right .horaires-releve-direction {
    display: flex;
    height: 37.5%;
    background-color: #ff0000;
    width: 100%;
}

.dashboard-right .releve-direction {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    width: 50%;
    background-color: purple;
}



/*
cuves
*/

#etat-cuves {
    border-radius: 20px;
    background-color: #2b2d42;
    width: 100%;
}

.etat-cuves-container {
    display: flex;
    align-items: center;
}

.cuve-container {
    width: 2vw;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.cuve-container h2,
p {
    font-size: 6px;
}

.jauge {
    background-color: #f0f0f0;
    height: 10vh;
    margin-top: 10px;
    position: relative;
}

.progress-bar {
    width: 100%;
    background-color: rgb(56, 141, 56);
    position: absolute;
    bottom: 0;
}


/* statut pompe */

.statut-pompe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
    margin: 0.5vh;
    height: 8vh;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.dispo-qte-prix {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-pompe {
    display: flex;
    align-items: center;
}

.numero {
    font-size: 20px;
    margin-right: 20px;

}

.pompe-image {
    width: 20px;
    height: 20px;
}

.carburant {
    margin-left: 2vw;
    font-size: 20px;
}

.disponibilite {
    display: flex;
    align-items: center;
}

.rond {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2vh;
    margin-right: 2vw;
}

.vert {
    background-color: #23d423;
}

.rouge {
    background-color: #ff0400;
}

.quantite-prix {
    border-radius: 8px;
    padding: 0 2.5vw;
    background-color: #2b2d42;
}

.quantite-prix p {
    color: white;
    text-align: right;
    font-size: 12px;
}

.quantite {
    margin-bottom: 0;
}

/* Service */

#services {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: #2B2D42;
}

/* #icon_container {
    width: 12%;
    padding: 5px 15px;
} */

.top_container {
    border-radius: 20px 20px 0px 0px;
    background: #2B2D42;
    display: flex;
    padding-left: 5%;
    border-bottom: 1px solid white;
}

.services-container {
    height: 100%;
}

.button_container {
    padding: 10px 5px;
    margin-bottom: 12px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button_container button {
    background-size: cover;
    background-color: white;
    border: none;
    width: 45%;
    height: 35%;
    border-radius: 8px;
}

.button_service_parking::after {
    background: url("../assets/img/parking.png") no-repeat;
}

.button_service_voiture {
    background: url("../assets/img/parking.png") no-repeat;
}

.button_service_livraison {
    background: url("../assets/img/parking.png") no-repeat;
}

.button_service_autres {
    background: url("../assets/img/parking.png") no-repeat;
}

/*transaction*/

#transaction {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.last-transaction p {
    margin-left: 2%;
    font-size: 12px;
    color: white;
    text-align: left !important;
}

.last-transaction {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.transaction-details {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin: 8px;
    color: black;
    overflow-y: auto;
    max-height: 47vh;
}

.transaction-details table {
    border-collapse: collapse;
}

/* .component-title { */
/* border-bottom: 1px solid white; */
/* } */

.transaction-details thead {
    border-bottom: 1px solid grey;
}

.transaction-details>table>thead>tr>th {
    font-size: 10px;
    color: grey;
}

.transaction-details th {
    padding: 5px;
}

.transaction-details td {
    padding: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.transaction-details>table>thead>tr>:nth-child(1) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(2) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(3) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(4) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(5) {
    width: 20%;
}

.transaction-details>table>tbody>tr>td:nth-child(1) {
    width: 20%;
    font-weight: bold;
}

.transaction-details>table>tbody>tr>td {
    font-size: 10px;
    width: 25%;
}

.statut-transac {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.red {
    background-color: #ff0400;
}

.green {
    background-color: #23d423;
}

.payment-type {
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.cb-payment {
    padding: 1px 9px;
    background-color: #003399;
}

.esp-payment {
    padding: 1px 6px;
    background-color: #086608;
}

.hour-transac {
    border-radius: 4px;
    padding: 1px 5px;
    background-color: #cdcdcd;
}

.hour-transac {
    display: flex;
}

#lhorloge {
    margin-top: 1.5px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
}

.fleche-container {
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

.fleche {
    width: 8px;
    height: 8px;
    position: relative;
    padding: 5px;
    background-color: #2B2D42;
    margin-right: 3px;
    border-radius: 3px;
}

.fleche::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/fleche.png');
    background-size: cover;
    transform: rotate(-135deg);
}

.loss .fleche::before {
    transform: rotate(-45deg);
}


.prix-transac {
    font-weight: bold;
}

.input-select-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.transaction-container .last-transaction input,
select {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
}


/*Horaires*/
#horaires {
    margin-left: 1%;
    width: 45%;
    height: 100%;
    background-color: #2b2d42;
    border-radius: 12px;
    margin-bottom: 20px;
}

#horaires h2 {
    text-align: left;
}

.horaires-container {
    height: 100%;
}

.horaires-content {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    overflow-x: auto;
}

.horaires-content p {
    font-size: 15px;
    text-align: left;
    margin: 4px 4px 4px 8px;
}

.of {
    opacity: 80%;
}

.horaire-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #2b2d42;
    border-radius: 12px 12px 0 0;
    padding-left: 3%;
}

.horaire-header h2 {
    text-align: left;
    margin: 0;
}

.horaire-header h6 {
    text-align: left;
    opacity: 80%;
    padding-bottom: 2%;
    margin: 0;

}

.heures {
    border-radius: 12px;
    width: auto;
    height: auto;

}

#icon_container_clock {
    width: 9%;
    height: 9%;
    padding: 5px 15px;
}


/* stocks */

#stocks {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #2b2d42;
    border-radius: 20px;
}

.stocks-container {
    margin-top: 10px;
    color: black;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.stock {
    border-radius: 8px;
    background-color: white;
    margin: 0 30px 0 10px;
    padding: 8px;

}

/* incidents */

#incidents {
    margin: 0 10px;
    width: 60%;
    height: 100%;
    background-color: #2b2d42;
    border-radius: 20px;
}

.incidents-container {
    color: black;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    overflow: auto;
}

.incident {
    width: 30%;
    border-radius: 8px;
    height: 80%;
    margin-right: 10px;
    background-color: white;
}

.incident p {
    font-size: 12px;
}

.incident-desc {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*releves, direction*/

#releve,
#direction {
    width: 95%;
    height: 45%;
    background-color: #2b2d42;
    border-radius: 20px;
}

.releve-container {
    color: white;
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    overflow: auto;
}

.releve {
    width: 90%;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: white;
}