@font-face {
    font-family: Didot;
    src: url("../assets/font/GFSDidot-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #f6f8ff;
    color: white;
    font-family: Didot !important;
}

#logo {
    width: 17vh;
    height: 14.5vh;
    padding: 0;
}

#profilePic {
    clip-path: ellipse()
}

/*
Vue choix paiement
*/
#choix-paiement {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.paymentChoice {
    padding: 10px 5px;
    margin-bottom: 12px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paymentChoice button {
    background-size: cover;
    background-color: white;
    border: none;
    width: 47%;
    height: 95px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/*
fin choix paiement
*/


/* 
panier
*/

.panier {
    background-color: #18332F;
    height: 100vh;
}

.panier-conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-left {
    background-color: #73907D;
    margin-left: 5%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 8px;
}

.shopping-cart-left .article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 15vh;
}

.shopping-cart-left .article .article-img img {
    width: 60%;
    height: auto;
    display: block;
}

.panier .shopping-cart-left .article-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B8C6BD;
    padding: 0;
    border: 1px solid black;
    color: white;
    margin-left: auto;
}

.panier .shopping-cart-left .article-quantity .qteBtn {
    width: 4vw;
    height: 4vh;
    background-color: #B8C6BD;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.panier .shopping-cart-left .article-quantity p {
    font-size: 20px;
    width: 3vw;
}

.shopping-cart-right {
    width: 25%;
    margin-right: 5%;
    margin-left: 10%;
}

.shopping-cart-right p {
    font-size: 25px;
}


.shopping-cart-right button {
    font-size: 25px;
    color: white;
    margin: 10%;
    margin-top: 0 !important;
    background-color: #73907D;
    width: 80%;
    padding: 6vh;
    border: 1px solid black;
    border-radius: 12px;
}

.shopping-cart-right .proceed-payment button:nth-child(2) {
    font-size: 35px !important
}


.clavier-numerique-panier td {
    width: 20%;
    height: 10vh;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    background-color: #73907D;
    border-radius: 5%;
    padding: 2%;
}



/* dashboard */

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard-button {
    width: 400px;
    height: 220px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: white !important;
    }
}

/* couleurs btn gérées en JS pour le moment */

/* .dashboard-button:nth-child(1) {
    background-color: #FEE4CB;
}
*/

.dashboard-left,
.dashboard-right {
    /* 100vh - 19vh car 15 header et 2+2 margin */
    height: 83vh;
    margin: 1vh 0;
    width: 42vw;
    background-color: #2b2d42;
}

.dashboard-left {
    margin-right: 0.5vw;
    margin-left: 0.5vh;
    border-radius: 20px;
}

.dashboard-right {
    background-color: white !important;
    width: 56.7vw !important;
    display: flex;
    margin-right: 0.5vw;
}

.dashboard-right .etat-transac {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    /* background-color: pink; */
}


.container.right-to-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-right .incidents-services {
    display: flex;
    height: 25%;
    /* background-color: orange; */
    width: 100%;
}

.dashboard-right .incidents-services section {
    width: 100% !important;
}

.dashboard-right .stock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37.5%;
    /* background-color: #7883ff; */
    width: 100%;
}

.dashboard-right .horaires-releve-direction {
    display: flex;
    height: 37.5%;
    /* background-color: #ff0000; */
    width: 100%;
}

.dashboard-right .releve-direction {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    width: 50%;
    /* background-color: purple; */
}

.dashboard-right .releve-direction section{
    width: 40%;
}

.dashboard-right .services-employe{
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    width: 50%;
}

.dashboard-right .services-employe section{
    width: 100%;
}



.membre {
    font-size: 20px;
}


/*
cuves
*/

#etat-cuves {
    border-radius: 20px;
    background-color: #2b2d42;
    width: 100%;
}

.etat-cuves-container {
    display: flex;
    align-items: center;
}

.cuve-container {
    width: 2vw;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.cuve-container h2,
p {
    font-size: 6px;
}

.jauge {
    background-color: #f0f0f0;
    height: 10vh;
    margin-top: 10px;
    position: relative;
}

.progress-bar {
    width: 100%;
    background-color: rgb(56, 141, 56);
    position: absolute;
    bottom: 0;
}


/* statut pompe */

.statut-pompe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
    margin: 0.5vh;
    height: 8vh;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.dispo-qte-prix {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-pompe {
    display: flex;
    align-items: center;
}

.numero {
    font-size: 20px;
    margin-right: 20px;

}

.pompe-image {
    width: 20px;
    height: 20px;
}

.carburant {
    margin-left: 2vw;
    font-size: 20px;
}

.disponibilite {
    display: flex;
    align-items: center;
}

.rond {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2vh;
    margin-right: 2vw;
}

.vert {
    background-color: #23d423;
}

.rouge {
    background-color: #ff0400;
}

.quantite-prix {
    border-radius: 8px;
    padding: 0 2.5vw;
    background-color: #2b2d42;
}

.quantite-prix p {
    color: white;
    text-align: right;
    font-size: 12px;
}

.quantite {
    margin-bottom: 0;
}

/* Service */

#services {
    height: 100%;
    border-radius: 20px;
    background-color: #2B2D42;
}

/* #icon_container {
    width: 12%;
    padding: 5px 15px;
} */

.top_container {
    border-radius: 20px 20px 0px 0px;
    background: #2B2D42;
    display: flex;
    padding-left: 5%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;

}

.top_container img {
    margin-left: auto;
    margin-right: 8px;
    margin-top: 2px;
    height: 20px;
    width: 20px;
}


.services-container {
    height: 100%;
}

.button_container {
    padding: 10px 5px;
    margin-bottom: 12px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button_container button {
    background-size: cover;
    background-color: white;
    border: none;
    width: 45%;
    height: 35%;
    border-radius: 8px;
}

.button_service_parking::after {
    background: url("../assets/img/parking.png") no-repeat;
}

.button_service_voiture {
    background: url("../assets/img/parking.png") no-repeat;
}

.button_service_livraison {
    background: url("../assets/img/parking.png") no-repeat;
}

.button_service_autres {
    background: url("../assets/img/parking.png") no-repeat;
}

/*transaction*/

#transaction {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

.last-transaction p {
    margin-left: 2%;
    font-size: 12px;
    color: white;
    text-align: left !important;
}

.last-transaction {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.transaction-details {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin: 8px;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 20vh;
}

.transaction-details table {
    border-collapse: collapse;
}

/* .component-title { */
/* border-bottom: 1px solid white; */
/* } */

.transaction-details thead {
    border-bottom: 1px solid grey;
}

.transaction-details>table>thead>tr>th {
    font-size: 10px;
    color: grey;
}

.transaction-details th {
    padding: 5px;
}

.transaction-details td {
    padding: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.transaction-details>table>thead>tr>:nth-child(1) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(2) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(3) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(4) {
    width: 20%;
}

.transaction-details>table>thead>tr>th:nth-child(5) {
    width: 20%;
}

.transaction-details>table>tbody>tr>td:nth-child(1) {
    width: 20%;
    font-weight: bold;
}

.transaction-details>table>tbody>tr>td {
    font-size: 10px;
    width: 25%;
}

.statut-transac {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.red {
    background-color: #ff0400;
}

.green {
    background-color: #23d423;
}

.payment-type {
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.cb-payment {
    padding: 1px 9px;
    background-color: #003399;
}

.esp-payment {
    padding: 1px 6px;
    background-color: #086608;
}

.hour-transac {
    border-radius: 4px;
    padding: 1px 5px;
    background-color: #cdcdcd;
}

.hour-transac {
    display: flex;
}

#lhorloge {
    margin-top: 1.5px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
}

.fleche-container {
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

.fleche {
    width: 8px;
    height: 8px;
    position: relative;
    padding: 5px;
    background-color: #2B2D42;
    margin-right: 3px;
    border-radius: 3px;
}

.fleche::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/fleche.png');
    background-size: cover;
    transform: rotate(-135deg);
}

.loss .fleche::before {
    transform: rotate(-45deg);
}


.prix-transac {
    font-weight: bold;
}

.input-select-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.transaction-container .last-transaction input,
select {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
}


/*Horaires*/
#horaires {
    margin-left: 1%;
    width: 45%;
    height: 100%;
    background-color: #2b2d42;
    border-radius: 12px;
    margin-bottom: 20px;
}

#horaires h2 {
    text-align: left;
}

.horaires-container {
    height: 100%;
}

.horaires-content {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    overflow-x: auto;
}

.horaires-content p {
    font-size: 15px;
    text-align: left;
    margin: 4px 4px 4px 8px;
}

.of {
    opacity: 80%;
    color: #080707;
}

.horaire-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #2b2d42;
    border-radius: 12px 12px 0 0;
    padding-left: 3%;
}

.horaire-header h2 {
    text-align: left;
    margin: 0;
}

.horaire-header h6 {
    text-align: left;
    opacity: 80%;
    padding-bottom: 2%;
    margin: 0;

}

.heures {
    border-radius: 12px;
    width: auto;
    height: auto;
}

#icon_container_clock {
    width: 9%;
    height: 9%;
    padding: 5px 15px;
}


/* stocks */

#stocks {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #2b2d42;
    border-radius: 20px;
}

.stocks-container {
    margin-top: 10px;
    color: black;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.stock {
    border-radius: 8px;
    background-color: white;
    margin: 0 30px 0 10px;
    padding: 8px;

}

/* incidents */

#incidents {
    margin: 0 10px;
    height: 100%;
    background-color: #2b2d42;
    border-radius: 20px;
}

.incidents-container {
    color: black;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    overflow: auto;
}

.incident {
    width: 30%;
    border-radius: 8px;
    height: 80%;
    margin-right: 10px;
    background-color: white;
}

.incident p {
    font-size: 12px;
}

.incident-desc {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*releves, direction*/

#releve,
#direction {
    width: 95%;
    height: 45%;
    background-color: #2b2d42;
    border-radius: 20px;
}

.releve-container {
    color: white;
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    overflow: auto;
}

.releve {
    width: 90%;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: white;
}


.button-container button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ebebeb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.left-container-incident {
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-container {
    width: 50%; 
}


.left-container-incident > div {
    text-align: center;
    margin-bottom: 20px;
}

.left-container-incident .confirm-button,
.left-container-incident .delete-button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ebebeb;
    color: rgb(24, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-container-incident .confirm-button:hover,
.left-container-incident .delete-button:hover {
    background-color: #c0c0c0; /* Change la couleur au survol */
}



/* Caisse */

#caisse {
    border-radius: 20px;
    background-color: #2B2D42;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.caisse-details {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin: 8px;
    color: black;
    overflow-y: auto;
    height: 100%;
    margin: 3%;
}

.caisse-container {
    height: 40%;
}

.caisse-details table {
    width: 100%;
    height: 40%;
    border-collapse: collapse;
}

.caisse-details thead {
    border-bottom: 1px solid grey;
}

.caisse-details>table>thead>tr>th {
    font-size: 20px;
    color: grey;
}

.caisse-details th {
    padding: 5px;
}

.caisse-details td {
    padding: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.caisse-details>table>thead>tr>:nth-child(1) {
    width: 40%;
}

.caisse-details>table>thead>tr>th:nth-child(2) {
    width: 20%;
}

.caisse-details>table>thead>tr>th:nth-child(3) {
    width: 20%;
}

.caisse-details>table>thead>tr>th:nth-child(4) {
    width: 10%;
}

.caisse-details>table>thead>tr>th:nth-child(5) {
    width: 10%;
}

.caisse-details>table>tbody>tr>td:nth-child(1) {
    width: 10%;
    font-weight: bold;
}

.caisse-details>table>tbody>tr>td {
    font-size: 18px;
    width: 25%;
}

.caisse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caisse-details {
    margin-bottom: 20px;
}


th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.search-bar>button {
    gap: 10px;
    border: 1px solid #ccc;
    padding: 1%;
    margin-left: 5%;
    border-radius: 8px;
    width: 20%;
}

.numeric-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.input-display {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.numeric-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
}

.numeric-buttons button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1700px) {
    .numeric-buttons button {
        padding: 6px !important;
    }
}

@media screen and (max-width: 1400px) {
    .numeric-buttons button {
        padding: 4px !important;
    }
}

.numeric-buttons>button:nth-child(3) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(7) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(11) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(15) {
    grid-column-end: span 2;
    width: 48%;
}

.numeric-buttons>button:nth-child(19) {
    grid-column-end: span 2;
}

.separator {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.total {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    text-align: right;
}

.total p {
    color: black;
    font-size: 18px;
    margin: 0;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}


/* Connexion */

.connection {
    color: black
}

.connection-bar input {
    align-items: center;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 20%;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.numericButtonsConnection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    justify-content: center;
    margin: 0 auto;
}



.disappear-animation {
    animation: disappear 0.5s ease-out;
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

/* Incident en grand */

.right-container {
    right: 0;
    width: 50%;
    box-sizing: border-box;
}

.right-container h3 {
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 150%;
}


.right-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    align-self: center;
}

.right-container form div {
    margin-bottom: 5%;
    flex-direction: column;
    display: flex;
}

.right-container form select {
    align-self: center;
}

.right-container form label {
    margin-bottom: 5%;
    font-size: 150%;
    position: static;
}

.right-container form textarea {
    height: 160px;
    width: 60%;
    margin-bottom: 5%;
    resize: vertical;
    align-self: center;
}

.right-container form button {
    width: 50%;
    align-self: center;
    font-size: 150%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #edf4fc;
    color: #080707;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.right-container form label.texte-description {
    align-self: flex-start;
    margin-bottom: 5px;
    align-self: center;
}

#PayerEspeces {
    background-color: #edf4fc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5%;
    border: 1px solid black;
}

#Produits {
    margin: 5%;
    background-color: #edf4fc;
    color: black;
}

#Prix,
#Produit,
#Quantites {
    font-size: 150%;
    text-align: left;
}

#Prix {
    text-align: right;
    font-size: 150%;
}

.container-composantGrandIncident {
    background-color: #2B2D42;
    border-radius: 20px;
    width: 100%;
    height: 83%;
}

.container-composantGrandIncident h2 {
    text-align: left;
    margin-left: 5%;
}

.composantGrandIncident {
    display: flex;
    flex-direction: row;
}

.left-container,
.right-container {
    flex: 1;
    padding: 10px;
    margin: 5px;
    max-height: 150%;
}


.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-container h3 {
    font-size: 170%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.incident-details {
    background-color: #f0f0f0;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

ul {
    align-self: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

ul li {
    background-color: #f9f9f9;
    color: #000;
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 5px;
    border-color: #000;
}


.right-container {
    margin-left: 5px;
    border-left: 5px solid #ccc;
}

.separatorColumn {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 10px 0;
}



/* -------------------------------- Services en grand --------------------------------  */

/* .serviceParkingButton {
    background: url("../assets/img/parking.png") ;
        
} */

.button_container_grand_services button {
    background-size: cover;
    background-color: white;
    border: none;
    width: 45%;
    height: 45%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
}

.button_container_grand_services {

    padding: 10px 5px;
    margin: 30px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Direction grand */

.componantDirectionGrand h2 {
    text-align: left;
    margin-left: 5%;
}

.direction-details{
    margin-top: 4%;
}

.composantGrand h3{
    margin-bottom: 3%;
    font-size: 180%;
}

.composantGrand ul li h3{
    font-size: 120%;
}

.direction-details ul{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%;
}
    

.direction-details ul{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%;
}
    

/**********************************  Places de parking **********************************/

.composantPlaceP {
    background: #2B2D42;
    border-radius: 20px;
    width: 100%;
    height: 98%;
}

.bouttonsParking {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    /* resize: horizontal; */
    margin-top: 5%;
}

.bouttonsParking button {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    border: black;
    margin: 5px;
}

.titreComposantPP {
    margin : 1.5%;
    padding: 10px;
    font-size: 170%;
    display: flex;
    justify-content: left;
}
.place_parking {
    border: solid #000;
    border-radius: 8px;
    padding: 10px; 
    margin: 15px;
    background-color: #4d5b84;
    
    box-shadow: 5px 6px 5px #101e49;
}
.formulaireRecherchePlaceP {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_placesP {
    max-height: 425px;
    margin: 5px; 
    overflow-y: auto; 
    border-radius: 5px;
    /* background-color: #424661; */
}

.search { 
    width: 60%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 24px;
}

.submitSearchParking {
    width: 10%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 24px;
}
.submitSearchParking {
    width: 6%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
}

.searchIconImage {
    width: 16px;
    height: 16px;
    
}

.statut-placeP {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.infoPlaceP {
    display: flex;
    justify-content: space-around;
    align-items: horizontal;
    
}

/************************************** Horaire Grand **************************************/

.composantGrand,
#modifHoraires {
    background: #2B2D42;
    display: block;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 83%;
}

#modifHoraire {
    margin-top: 20px;
}



.component_title {
    margin: 0;
}

.tableauHeure {
    margin: 20px;
}

.tableauHeure table {
    width: 100%;
    border-collapse: collapse;
}

.tableauHeure th,
.tableauHeure td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tableauHeure th {
    background-color: #f2f2f2;
}

.buttonAnnuler,
.buttonValider {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttonAnnuler {
    background-color: #f0f0f0;
    color: black;
}

.buttonValider {
    background-color: #f0f0f0;
    color: black;
}

.buttonAnnuler:hover,
.buttonValider:hover {
    opacity: 0.8;
}

.heures {
    border-radius: 12px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

/*Carte membre / energie*/
.composantGrand #carte{
    background-color: #2B2D42;
    border-radius: 20px;
    width: 100%;
    height: 83%;
}

.buttonCarte{
    background-color: #f0f0f0;
    color: black;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.client {
    display:flex;
    border: solid #000;
    border-radius: 8px;
    padding: 10px; 
    margin: 15px;
    background-color: #4d5b84;
    box-shadow: 5px 6px 5px #101e49;
}


.listClient  {
    max-height: 425px;
    margin: 5px; 
    overflow-y: auto; 
    border-radius: 5px;
}

/**********************************  Reservation d'une place de parking (ReservationPlaceP) **********************************/
.formulaire_reservation_placeP {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.formulaireEntree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 5%;
}