@font-face {
    font-family: Didot;
    src: url("../assets/font/GFSDidot-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    /* background-color: #F3FCF3; */
    background-color: #18332F;
    color: white;
    font-family: Didot !important;
}

/*
Vue choix paiement
*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-title {
    margin-bottom: 10vh;
    margin-top: -8vh;
    font-size: 60px;
}

#logo {
    width: 20vh;
    height: auto;
    float: left;
    margin: 10px;
}

#backBtn {
    color: white;
    padding: 25px;
    margin: 10px;
    /* background-color: #9EF09E; */
    background-color: #73907D;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 30px;
}

.paymentChoice {
    margin-top: 12vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.choixPaiement {
    width: 100vw;
    height: 100vh;
}

.paymentChoice button {
    background-color: #9EF09E;
    font-family: Didot;
    border: none;
    font-size: 40px;
    cursor: pointer;
    width: 25%;
    height: 25vh;
    border-radius: 6px;
}

.paymentChoice #especeBtn {
    padding: 20px 10px;
    margin-right: 4%;
}

.paymentChoice #cbBtn {
    padding: 20px 10px;
    margin-left: 4%;
}

/*
fin choix paiement
*/


/* 
panier
*/

.panier {
    background-color: #18332F;
    height: 100vh;
}

.panier-conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-left {
    background-color: #73907D;
    margin-left: 5%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 8px;
}

.shopping-cart-left .article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 15vh;
}

.shopping-cart-left .article .article-img img {
    width: 60%;
    height: auto;
    display: block;
}

.panier .shopping-cart-left .article-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B8C6BD;
    padding: 0;
    border: 1px solid black;
    color: white;
    margin-left: auto;
}

.panier .shopping-cart-left .article-quantity .qteBtn {
    width: 4vw;
    height: 4vh;
    background-color: #B8C6BD;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.panier .shopping-cart-left .article-quantity p {
    font-size: 20px;
    width: 3vw;
}

.shopping-cart-right {
    width: 25%;
    margin-right: 5%;
    margin-left: 10%;
}

.shopping-cart-right p {
    font-size: 25px;
}

.shopping-cart-right button {
    font-size: 25px;
    color: white;
    margin: 10%;
    margin-top: 0 !important;
    background-color: #73907D;
    width: 80%;
    padding: 6vh;
    border: 1px solid black;
    border-radius: 12px;
}

.shopping-cart-right .proceed-payment button:nth-child(2) {
    font-size: 35px !important
}

/* dashboard */


.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-button {
    width: 400px;
    height: 220px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: white !important;
    }
}

.dashboard-button:nth-child(1) {
    background-color: #FEE4CB;
}

.dashboard-button:nth-child(2) {
    background-color: #E9E7FD;
}

.dashboard-button:nth-child(3) {
    background-color: #FFD3E2;
}

.dashboard-button:nth-child(4) {
    background-color: #DBF6FD;
}

.dashboard-button:nth-child(5) {
    background-color: #C8F7DC;
}

.dashboard-button:nth-child(6) {
    background-color: #D5DEFF;
}