@font-face {
    font-family: Didot;
    src: url("../assets/font/GFSDidot-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #F3FCF3;
}

/*
Vue choix paiement
*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-title {
    margin-bottom: 10vh;
    margin-top: -8vh;
    font-size: 60px;
}

#logo {
    width: 20vh;
    height: auto;
    float: left;
    margin: 10px;
}

#backBtn {
    width: 20vh;
    padding: 25px;
    margin: 10px;
    background-color: #9EF09E;
    border-radius: 10px;
    font-size: 20px;
}

.paymentChoice {
    margin-top: 12vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.choixPaiement {
    width: 100vw;
    height: 100vh;
}

.paymentChoice button {
    background-color: #9EF09E;
    font-family: Didot;
    border: none;
    font-size: 40px;
    cursor: pointer;
    width: 25%;
    height: 25vh;
    border-radius: 6px;
}

.paymentChoice #especeBtn {
    padding: 20px 10px;
    margin-right: 4%;
}

.paymentChoice #cbBtn {
    padding: 20px 10px;
    margin-left: 4%;
}

/*
fin choix paiement
*/